header{background: #000000; color: #ffc1cb;}

.main{background: #ffd4ec;}

.color1{background:#34495e ; color:#fff;}

.linea1{background:#ff008f ;}

.iconos{background:#000000 ;color:#ff008f;}

.ofertas{background:#838383;}

.ofertas1{ background:#83c4ff;}

.ofertas2{ background:#ff92ce;}

.contactanos{ background:#d272ec; }

.enviarR{background:#ff008f;color:000000; }	

.main2{background: #f4ff5c; }

.fav{background: #e1a549;}

.ropa{background:#000000 }

aside {background:#c0392b; color:#fff ;}

footer{background: #000000; color: #ffc1cb; }

\Destokp\371-M\ASIGNATURAS\SANTANA\RIVO 1\estilos.css